<%require "date"%>
<%require "pry"%>
<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
        <h1>Today</h1>
        <%binding.pry%>
        <p>The date is</p>
    </body>
</html>
